$primaryred: hsl(0, 100%, 67%);
$primaryyellow: hsl(39, 100%, 59%);
$primarygreen: hsl(166, 100%, 37%);
$primaryblue: hsl(234, 85%, 45%);
$secondarysblue: hsl(252, 100%, 67%);
$secondaryrblue: hsl(241, 81%, 54%);
$secondaryvblue: hsl(256, 72%, 46%, 1);
$secondarypblue: hsl(241, 72%, 46%, 0.5);
$neutralwhite: hsl(0, 0%, 90%);
$neutralblue: hsl(221, 100%, 96%);
$neutrallavender: hsl(241, 100%, 89%);
$neutralgray: hsl(224, 30%, 27%);
$font: 'Hanken Grotesk';